extends layout

block content
    #banner.page-header
      .row
        .col-md-6.col-sm-12
          h1= title
    .row
      .col-md-6.col-sm-12
        p
          | Loc8r was created to help people find places to sit down and get a bit of work done
          | <br /><br />
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae nunc sed leo commodo vehicula. Donec nunc turpis, semper sit amet ex faucibus, tempor iaculis mi. Sed eu tellus ut felis hendrerit porttitor. Suspendisse felis sapien, pharetra non nulla ut, pellentesque interdum mi. Vivamus non iaculis mauris. Duis rutrum arcu erat, eget vehicula magna ultrices luctus. Proin venenatis mi id neque placerat efficitur ac eu ex.